@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

.container {
  padding: 2.7rem 0;
  align-items: center;
  gap: 3rem;
  justify-content: unset;
  display: flex;
  flex-direction: column;
  min-width: 37.5rem;
  margin: 0 auto;
}

[label-style="1-mob"]::after {
  content: "Новинка";
  height: 3.5rem;
  width: 9.9rem;
  background-color: var(--label-bg-color-yellow);
  color: var(--label-color-gray-1);
  font-size: 1.2rem;
  font-weight: 600;
  position: absolute;
  top: 4rem;
  line-height: 2rem;
  text-transform: uppercase;
  align-items: center;
  gap: unset;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

[label-style="2-mob"]::after {
  content: "Новинка";
  height: 4.3rem;
  width: 12.9rem;
  background-color: var(--label-bg-color-purple);
  color: var(--white);
  font-size: 1.4rem;
  font-weight: 600;
  position: absolute;
  top: 0;
  line-height: 2rem;
  text-transform: uppercase;
  align-items: center;
  gap: unset;
  justify-content: center;
  display: flex;
  flex-direction: row;
  border-radius: 15px 0px 12px;
}

[label-style="1-desk"]::after {
  content: "Новинка";
  height: 4.2rem;
  width: 15.4rem;
  background-color: var(--label-3-bg-color);
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 600;
  position: absolute;
  top: 4.6rem;
  line-height: 2rem;
  text-transform: uppercase;
  align-items: center;
  gap: unset;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

[label-style="2-desk"]::after {
  content: "Круглый год";
  height: 4.5rem;
  width: 18rem;
  background-color: var(--label-bg-color-yellow);
  color: var(--label-color-gray-1);
  font-size: 1.6rem;
  font-weight: 600;
  position: absolute;
  top: 7.2rem;
  line-height: 2rem;
  text-transform: uppercase;
  align-items: center;
  gap: unset;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.card {
  border: var(--border-thickness-mob) solid var(--border-color-mob);
  min-height: 60.3rem;
  width: 34.1rem;
  align-items: unset;
  gap: unset;
  justify-content: unset;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}
.card__img {
  min-height: fit-content;
  object-fit: cover;
  object-position: center;
  transform: scale(1.06);
  transition: all 0.3s ease;
}
.card .description-container {
  padding: 1.6rem 1.2rem 1.9rem;
  align-items: unset;
  gap: unset;
  justify-content: unset;
  display: flex;
  flex-direction: column;
}
.card .duration {
  align-items: unset;
  gap: 0.9rem;
  justify-content: unset;
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
}
.card .duration__txt {
  height: 2.3rem;
  font-size: 1.2rem;
  height: 1.6rem;
  color: var(--duration-txt-color);
}
.card .heading {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: var(--subheading-color);
  margin-bottom: 2.9rem;
}
.card .features {
  font-size: 1.4rem;
  line-height: 2rem;
  color: var(--list-item-color);
  margin-bottom: 3.5rem;
}
.card .features__point {
  align-items: flex-start;
  gap: 1.9rem;
  justify-content: unset;
  display: flex;
  flex-direction: row;
}
.card .features__point p {
  margin-top: -0.5rem;
}
.card .features__point--mb-1 {
  margin-bottom: 1.7rem;
}
.card .features__point--mb-2 {
  margin-bottom: 1.9rem;
}
.card .features__point--mb-3 {
  margin-bottom: 2.5rem;
}
.card .features__point .departures {
  height: auto;
  align-items: unset;
  gap: 0.6rem;
  justify-content: unset;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card .features__point .departures span:first-child {
  width: 100%;
  margin-top: -0.5rem;
}
.card .features__point .departures__time {
  height: 2.4rem;
  width: 6.3rem;
  background-color: var(--departure-label-bg-color);
  color: var(--departure-label-color);
  border-radius: 11px;
  align-items: center;
  gap: unset;
  justify-content: center;
  display: flex;
  flex-direction: row;
  transition: all 0.2s ease;
}
.card .features__point .departures__time:hover, .card .features__point .departures__time:active {
  background-color: var(--time-label-active-bg-color);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  color: var(--white);
  border-radius: 11px;
  cursor: pointer;
}
.card .features__point .departures__time--hidden {
  display: none;
}

.card-footer {
  align-items: flex-start;
  gap: unset;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding: 0 0.5rem;
}
.card-footer .price {
  font-size: 3rem;
  line-height: 2rem;
  height: 2.3rem;
  color: var(--black);
  margin-top: 0.1rem;
}
.card-footer:has(.pier-buy) {
  align-items: center;
}
.card-footer:has(.pier-buy) .button {
  align-self: flex-start;
}
.card-footer .pier-buy {
  font-size: 1rem;
  margin-top: 0.2rem;
}
.card-footer .button {
  border-radius: 2rem;
  align-items: center;
  gap: unset;
  justify-content: center;
  display: flex;
  flex-direction: row;
  width: 16.5rem;
  height: 4.4rem;
  background-color: var(--label-bg-color-yellow);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  color: var(--subheading-color);
  transition: all 0.3s ease;
  border: var(--border-thickness-desktop) solid var(--button-border-color);
}
.card-footer .button:hover {
  background-color: var(--label-bg-color-shade);
  cursor: pointer;
}
.card-footer [btn-style=rect] {
  border-radius: 1rem;
  align-items: center;
  gap: unset;
  justify-content: center;
  display: flex;
  flex-direction: row;
  width: 19.3rem;
  height: 4.4rem;
  background-color: var(--button-2-bg-color);
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
  color: var(--subheading-color);
  transition: all 0.3s ease;
  border: var(--border-thickness-desktop) solid var(--button-border-color);
  border-radius: 10px;
}
.card-footer [btn-style=rect]:hover {
  background-color: var(--label-bg-color-shade);
  cursor: pointer;
}
.card-footer .auto-height {
  height: auto;
  max-width: 13rem;
}

:root {
  --border-thickness-mob: 0.3px;
  --border-thickness-desktop: 0.5px;
  --border-color-mob: #828282;
  --border-color-desktop: #8e8e8e;
  --duration-txt-color: #9e9e9e;
  --subheading-color: #404040;
  --list-item-color: #4b4b4b;
  --label-bg-color-yellow: #fed74b;
  --label-bg-color-shade: #e5c244;
  --label-color-gray-1: #3e3e3e;
  --label-bg-color-purple: #7553ff;
  --departure-label-bg-color: #d9e8ff;
  --departure-label-color: #343434;
  --label-3-bg-color: #099ce8;
  --button-border-color: #cba500;
  --time-label-active-bg-color: #6ba6ff;
  --button-2-bg-color: #fed74b;
  --button-desk-bg-color: #ffd83c;
  --button-desk-color: #292929;
  --white: #fff;
  --black: #000;
}

@media screen and (min-width: 972px) {
  .container {
    gap: 5.9rem;
    width: 144rem;
    padding: 6.7rem 0;
  }
  .card {
    width: 107rem;
    min-height: 37rem;
    flex-direction: row;
    border: var(--border-thickness-desktop) solid var(--border-color-desktop);
    border-radius: 15px;
  }
  .card__img {
    min-width: 47.3rem;
    max-width: 47.3rem;
    transform: none;
  }
  .card .description-container {
    padding: 1.6rem 2.3rem 1.9rem;
  }
  .card .heading {
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 3.4rem;
    color: var(--black);
    order: -1;
    margin-bottom: 1.3rem;
  }
  .card .duration {
    margin-bottom: 1.9rem;
  }
  .card .features__point--mb-1 {
    margin-bottom: 2.1rem;
  }
  .card .features__point--mb-2 {
    margin-bottom: 2.4rem;
  }
  .card .features__point--mb-3 {
    margin-bottom: 2.7rem;
  }
  .card .features .departures {
    align-items: center;
    margin-top: -0.3rem;
  }
  .card .features .departures span:first-child {
    width: max-content;
    margin-right: 0.5rem;
  }
  .card .card-footer {
    justify-content: flex-start;
    padding: 0;
    gap: 1.3rem;
  }
  .card .card-footer .button {
    border: none;
    border-radius: 2.3rem;
    align-items: center;
    gap: unset;
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 18.7rem;
    height: 5.2rem;
    background-color: var(--button-desk-bg-color);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2rem;
    color: var(--button-desk-color);
    transition: all 0.3s ease;
  }
  .card .card-footer .button:hover {
    background-color: var(--label-bg-color-shade);
    cursor: pointer;
  }
}

/*# sourceMappingURL=style.css.map */
