@use './label' as cfg;

.card {
  border: var(--border-thickness-mob) solid var(--border-color-mob);
  min-height: 60.3rem;
  max-width: 34.1rem;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;

  &--mobile-1::after {
    @include cfg.label(
      var(--label-bg-color-yellow),
      var(--label-color-gray-1),
      4rem,
      3.5rem,
      9.9rem,
      1.2rem,
      'Новинка'
    );
  }

  &--mobile-2::after {
    @include cfg.label(
      var(--label-bg-color-purple),
      var(--white),
      0,
      4.3rem,
      12.9rem,
      1.4rem,
      'Новинка'
    );
    border-radius: 15px 0px 12px;
  }

  &__header-img {
    height: 22rem;
    width: 34.1rem;
  }

  .duration {
    margin: -0.3rem 1.2rem 1.5rem;
    display: flex;
    gap: 0.9rem;

    &__image {
      padding-top: 1.6rem;
    }

    &__txt {
      padding-top: 1.4rem;
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 2rem;
      height: 1.6rem;
      color: var(--duration-txt-color);
    }
  }

  .special-offer {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: var(--subheading-color);
    margin: 0 1.2rem 1.6rem;
  }

  .departures {
    display: flex;
    gap: 0.7rem;
    margin-top: 0.6rem;
  }

  .trip-features {
    margin: 0 2rem 3.5rem 1.3rem;

    &__item {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 2rem;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 2rem;
      color: var(--list-item-color);

      &--mb-1 {
        margin-bottom: 0.9rem;
      }

      &--mb-2 {
        margin-bottom: 1.1rem;
      }

      &--mb-3 {
        margin-bottom: 1.3rem;
      }

      .last-item-image {
        align-self: flex-start;
        margin-top: 0.4rem;
      }
    }
  }
}
