@use '../layout/' as lt;

.card-footer {
  @include lt.flex(row, $justify: space-between);
  padding: 0 0.5rem;

  .price {
    font-size: 3rem;
    line-height: 2rem;
    height: 2.3rem;
    color: var(--black);
  }

  .pier-buy {
    font-size: 1rem;
    margin-top: 0.2rem;
  }

  .button {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16.5rem;
    height: 4.4rem;
    background-color: var(--label-bg-color-yellow);
    border: var(--border-thickness-desktop) solid var(--button-border-color);
    font-size: 1.4rem;
    line-height: 2rem;
    color: var(--subheading-color);
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--label-bg-color-shade);
      cursor: pointer;
    }
  }

  .auto-height {
    height: auto;
    max-width: 13rem;
  }
}
