@use '../layout/' as lt;

@mixin cardLabel(
  $bg-color,
  $color,
  $top,
  $height,
  $width,
  $font-size,
  $content
) {
  content: $content;
  height: $height;
  width: $width;
  background-color: $bg-color;
  color: $color;
  font-size: $font-size;
  font-weight: 600;
  position: absolute;
  top: $top;
  line-height: 2rem;
  text-transform: uppercase;
  @include lt.flex(row, $alignment: center, $justify: center);
}

@mixin defaultLabel($bg-color, $color, $height, $width, $radius) {
  height: $height;
  width: $width;
  background-color: $bg-color;
  color: $color;
  border-radius: $radius;
  @include lt.flex(row, $alignment: center, $justify: center);
}

[label-style='1']::after {
  @include cardLabel(
    var(--label-bg-color-yellow),
    var(--label-color-gray-1),
    4rem,
    3.5rem,
    9.9rem,
    1.2rem,
    'Новинка'
  );
}

[label-style='2']::after {
  @include cardLabel(
    var(--label-bg-color-purple),
    var(--white),
    0,
    4.3rem,
    12.9rem,
    1.4rem,
    'Новинка'
  );
  border-radius: 15px 0px 12px;
}
