@use '../layout/' as lt;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
}

.container {
  padding: 2.7rem 0;
  @include lt.flex(column, center, $gap: 3rem);
  min-width: 37.5rem;
}
