:root {
  --border-thickness-mob: 0.3px;
  --border-thickness-desktop: 0.5px;
  --border-color-mob: #828282;
  --border-color-desk: #8e8e8e;
  --duration-txt-color: #9e9e9e;
  --subheading-color: #404040;
  --list-item-color: #4b4b4b;
  --label-bg-color-yellow: #fed74b;
  --label-color-gray-1: #3e3e3e;
  --label-bg-color-purple: #7553ff;
  --departure-label-bg-color: #d9e8ff;
  --departure-label-color: #343434;
  --button-border-color: #cba500;
  --white: #fff;
  --black: #000;
}
