@use '../components/button' as set;

@media screen and (min-width: 972px) {
  .container {
    gap: 5.9rem;
    min-width: 144rem;
    padding: 6.7rem 0;
  }

  [label-style='1']::after {
    width: 18rem;
    height: 4.5rem;
    font-size: 1.6rem;
    top: 7.2rem;
    content: 'круглый год';
  }

  .card {
    width: 107rem;
    min-height: 37rem;
    flex-direction: row;
    border: var(--border-thickness-desktop) solid var(--border-color-desktop);
    border-radius: 15px;

    &__img {
      max-width: 47.3rem;
      transform: none;
    }

    .description-container {
      padding: 1.6rem 2.3rem 1.9rem;
    }

    .heading {
      font-weight: 400;
      font-size: 2.6rem;
      line-height: 3.4rem;
      color: var(--black);
      order: -1;
      margin-bottom: 1.3rem;
    }

    .duration {
      margin-bottom: 1.9rem;
    }

    .features {
      &__point {
        &--mb-1 {
          margin-bottom: 2.1rem;
        }

        &--mb-2 {
          margin-bottom: 2.4rem;
        }

        &--mb-3 {
          margin-bottom: 2.7rem;
        }
      }

      .departures {
        align-items: center;
        margin-top: -0.3rem;

        span:first-child {
          width: max-content;
          margin-right: 0.5rem;
        }
      }
    }

    .card-footer {
      justify-content: flex-start;
      padding: 0;
      gap: 1.3rem;

      .button,
      &--btn-2 {
        border: none;
        @include set.button(
          2.3rem,
          18.7rem,
          5.2rem,
          var(--button-desk-bg-color),
          400,
          1.8rem,
          var(--button-desk-color)
        );
      }
    }
  }
}
